
  body{
          margin: 0;
          font-family: 'Courier New', Courier, monospace;
        }
      .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        overflow: hidden;
      }

      .hero-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }

      .hero-content{
        position: relative;
        z-index:1;
        color: white;
        text-align: center;
      }

      h1{
        font-size:3em;
        margin:0 0 20px;
      }

      p{
        font-size:1.2em;
        margin:0 0 30px;
      }

      .explore-button{
        padding: 15px 30px;
        background-color: #E60023;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.2em;
      }

      .explore-button hover{
        background-color: #C7001D;
      }